# Python
__pycache__/
*.pyc
*.py[cod]
*.egg-info/
.env
.venv/
venv/
.env.*
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Data
data/
*.csv
*.parquet
*.json
*.log

# AWS / credentials (never commit these)
.aws/
*.pem
*.key
